jupyter_server_terminals
yahoo_fin
yfinance
cufflinks
pipreqs
openpyxl
PyExcelerate
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
pyproj
jira
oracledb
pymssql
requests
snowflake-connector-python
snowflake-sqlalchemy
teradatasql
teradatasqlalchemy
cx-Oracle
sqlalchemy
tqdm
pyarrow<10.1.0,>=10.0.1